@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --bg-gray: #F1F3F5;

  --txt-main-color: #333333;
  --txt-second-color: #808C9E;

  --txt-line-height: 28px;
  --txt-fw-normal: 400;
  --txt-fw-bold: 700;
}

.body {
  box-sizing: border-box;
  margin: 80px auto 80px 200px;
  max-width: 784px;
  border: 1px solid #DCE2E8;

  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: var(--txt-fw-normal);
}

.container {
  margin: 48px;
}

.header__headlines {
  display: flex;
  justify-content: space-between;
}

.header__headlines-wrapper {
  max-width: 500px;
}

.header__topic {
  box-sizing: border-box;
  background-color: #FFDD2D;
  padding: 2px 10px 4px 10px;
  color: var(--txt-main-color);
  font-size: 13px;
  line-height: 20px;
  font-weight: var(--txt-fw-bold);
}

.header__headline {
  font-weight: var(--txt-fw-normal);
  color: #111111;
  font-size: 36px;
  line-height: 44px;
  margin-top: 17px;
}

.header__headline::before {
  content: "Автоматизации в сфере ЖКХ «ЖилфондСервис»";
}

.header__logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: var(--bg-gray);
}

.tags {
  color: var(--txt-second-color);
  margin-top: 15px;
}

.tags__headline {
  font-size: 17px;
  line-height: var(--txt-line-height);
  font-weight: var(--txt-fw-normal);
  margin: 0;
}

.tags__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  line-height: var(--txt-line-height);
  padding: 0;
  margin-top: 7px;
}

.tags__tag {
  margin-right: 12px;
  background: var(--bg-gray);
}

.main__list {
  padding-left: 20px;
}

.tasks-section__list-item::marker {
  content: "👉";
}

.solution-section__list-item::marker {
  content: "✅";
}

.new-segment-section {
  display: none;
}

.author {
  display: flex;
}

.author__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightgray;
}

.author__wrapper {
  max-width: 190px;
}

.author__name {
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 945px) {
  .body {
    margin: 80px;
  }

  .header__headline::before {
    content: "Облачный колл-центр «Атлант»";
  }

  .integration-section {
    display: none;
  }

  .new-segment-section {
    display: initial;
  }
}